@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.App {
  font-family: "Klee One", cursive, sans-serif;
  font-weight: bold;
  text-align: center;
}
body {
  background-color: lightgray;
}
input {
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
  height: 30px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.animals {
  font-size: 2rem;
  .margin-top: 50px;
}
.animal {
  cursor: pointer;
  margin-top: 70px;
  padding: 20px 20px;
}
